"Session ID","Username","MAC Address","IP Address","NAS IP","Started At","Status"
{% for session in active_sessions.json.sessionList | default([]) %}
"{{ session.session_id }}","{{ session.userName }}","{{ session.macAddress }}","{{ session.ipAddress }}","{{ session.nas_ip_address }}","{{ session.startedAt }}","{{ session.status }}"
{% endfor %}
