{{ vault_log_path }}/*.log {
    daily
    rotate 365
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        /usr/bin/systemctl reload vault > /dev/null 2>&1 || true
    endscript
    create 0640 {{ vault_user }} {{ vault_group }}
}
