[windows_dc]
dc-01 ansible_host=192.168.1.10
dc-02 ansible_host=192.168.1.11

[windows_servers]
srv-01 ansible_host=192.168.1.20
srv-02 ansible_host=192.168.1.21
srv-03 ansible_host=192.168.1.22

[windows:children]
windows_dc
windows_servers

[windows:vars]
ansible_connection=winrm
ansible_winrm_transport=kerberos
ansible_winrm_server_cert_validation=ignore
# ansible_user and ansible_password should be in vault
