"Timestamp","User","Object Type","Object Name","Action","Details"
{% for change in parsed_config_changes.changes | default([]) %}
"{{ change.timestamp }}","{{ change.user }}","{{ change.object_type }}","{{ change.object_name }}","{{ change.action }}","{{ change.details | default('') }}"
{% endfor %}
