# Splunk Indexer Cluster Master Configuration
# Fourth Estate Production Environment

[general]
serverName = {{ ansible_hostname }}
site = {{ splunk_cluster_site | default('site0') }}

[clustering]
mode = master
replication_factor = {{ splunk_cluster_replication_factor }}
search_factor = {{ splunk_cluster_search_factor }}
pass4SymmKey = {{ splunk_cluster_secret }}
cluster_label = {{ splunk_cluster_label }}
{% if splunk_multisite_clustering | bool %}
multisite = true
available_sites = {{ splunk_cluster_available_sites }}
site_replication_factor = {{ splunk_cluster_site_replication_factor }}
site_search_factor = {{ splunk_cluster_site_search_factor }}
{% endif %}

[replication_port://{{ splunk_replication_port }}]
acceptFrom = {{ splunk_cluster_peer_networks | join(',') }}
compress = true

[license]
master_uri = self
