# Splunk Indexes Configuration - Cluster Master
# Fourth Estate Production Environment

[default]
repFactor = auto
maxDataSize = auto_high_volume
maxHotBuckets = 10
compressRawdata = true
enableTsidxReduction = true

{% for index in splunk_indexes %}
[{{ index.name }}]
homePath = {{ index.homePath }}
coldPath = {{ index.coldPath }}
thawedPath = {{ index.thawedPath }}
maxDataSize = {{ index.maxDataSize }}
maxHotBuckets = {{ index.maxHotBuckets }}
frozenTimePeriodInSecs = {{ index.frozenTimePeriodInSecs }}
repFactor = {{ index.repFactor | default('auto') }}
{% if index.datatype is defined %}
datatype = {{ index.datatype }}
{% endif %}
compressRawdata = true
enableTsidxReduction = true
tsidxReductionCheckPeriodInSec = 600
journalCompression = zstd
rawChunkSizeBytes = 131072
maxHotSpanSecs = {{ splunk_max_hot_span_secs }}
maxHotIdleSecs = {{ splunk_max_hot_idle_secs }}
{% if splunk_storage_volumes is defined %}
{% if 'hot' in index.name or 'warm' in index.name %}
homePath = volume:hot_warm/{{ index.name }}/db
coldPath = volume:cold/{{ index.name }}/colddb
{% endif %}
{% endif %}

{% endfor %}

{% if splunk_storage_volumes is defined %}
{% for volume in splunk_storage_volumes %}
[volume:{{ volume.name }}]
path = {{ volume.path }}
maxVolumeDataSizeMB = {{ volume.maxVolumeDataSizeMB }}
{% endfor %}
{% endif %}
