# Managed by Ansible (splunk_indexer_cluster) - index retention
{% for idx in splunk_indexes | default([]) %}
[{{ idx.name }}]
frozenTimePeriodInSecs = {{ idx.retention_secs | default(splunk_default_retention_secs | default(7776000)) }}
maxTotalDataSizeMB = {{ idx.max_size_mb | default(500000) }}
{% endfor %}
