# Managed by Ansible (splunk_indexer_cluster) - SmartStore (S3) settings
[cachemanager]
max_cache_size = {{ splunk_smartstore_max_cache_size_mb | default(0) }}

[volume:remote_store]
storageType = remote
path = s3://{{ splunk_smartstore_bucket | default('') }}/{{ splunk_smartstore_prefix | default('indexes') }}
remote.s3.endpoint = {{ splunk_smartstore_endpoint | default('') }}
remote.s3.access_key = {{ splunk_smartstore_access_key | default('') }}
remote.s3.secret_key = {{ splunk_smartstore_secret_key | default('') }}
