# Managed by Ansible (splunk_enterprise_install)
[authentication]
authType = SAML
authSettings = saml

[saml]
entityId = {{ splunk_saml_entity_id | default('splunk') }}
idpSSOUrl = {{ splunk_saml_idp_sso_url | default('') }}
idpCertPath = {{ splunk_saml_idp_cert_path | default('') }}
signAuthnRequest = {{ splunk_saml_sign_authn | default('true') }}
signedAssertion = {{ splunk_saml_signed_assertion | default('true') }}
