# Managed by Ansible (splunk_enterprise_install)
[authentication]
authType = LDAP
authSettings = ldap_strategy

[ldap_strategy]
host = {{ splunk_ldap_host | default('') }}
port = {{ splunk_ldap_port | default(389) }}
SSLEnabled = {{ splunk_ldap_ssl | default(0) }}
bindDN = {{ splunk_ldap_bind_dn | default('') }}
bindDNpassword = {{ splunk_ldap_bind_password | default('') }}
userBaseDN = {{ splunk_ldap_user_base_dn | default('') }}
userNameAttribute = {{ splunk_ldap_user_name_attribute | default('uid') }}
realNameAttribute = {{ splunk_ldap_realname_attribute | default('cn') }}
groupBaseDN = {{ splunk_ldap_group_base_dn | default('') }}
groupMemberAttribute = {{ splunk_ldap_group_member_attribute | default('member') }}
groupNameAttribute = {{ splunk_ldap_group_name_attribute | default('cn') }}
