# Managed by Ansible (splunk_enterprise_install)
[general]
serverName = {{ splunk_server_name | default(inventory_hostname) }}
pass4SymmKey = {{ splunk_pass4symmkey | default(splunk_admin_password) }}

[sslConfig]
sslPassword = {{ splunk_ssl_password | default('') }}

[lmpool:auto_generated_pool_download-trial]
description = auto_generated_pool_download-trial
quota = MAX
stack_id = download-trial
