# Managed by Ansible (splunk_enterprise_install)
[settings]
httpport = {{ splunk_web_port | default(8000) }}
mgmtHostPort = 127.0.0.1:{{ splunk_mgmt_port | default(8089) }}
enableSplunkWebSSL = {{ splunk_web_ssl | default(true) | lower }}
