{
  "persistent": {
    "cluster": {
      "routing": {
        "allocation": {
          "enable": "{{ elasticsearch_cluster_routing_allocation_enable }}",
          "awareness": {
            "attributes": "{{ elasticsearch_cluster_routing_allocation_awareness_attributes | join(',') }}"
          },
          "disk": {
            "threshold_enabled": {{ elasticsearch_cluster_routing_allocation_disk_threshold_enabled | lower }},
            "watermark": {
              "low": "{{ elasticsearch_cluster_routing_allocation_disk_watermark_low }}",
              "high": "{{ elasticsearch_cluster_routing_allocation_disk_watermark_high }}",
              "flood_stage": "{{ elasticsearch_cluster_routing_allocation_disk_watermark_flood_stage }}"
            }
          }
        }
      },
      "max_shards_per_node": {{ elasticsearch_cluster_max_shards_per_node }}
    },
    "indices": {
      "recovery": {
        "max_bytes_per_sec": "{{ elasticsearch_indices_recovery_max_bytes_per_sec }}"
      }
    }
  },
  "transient": {}
}
