{
  "policy": {
    "phases": {
      "hot": {
        "actions": {{ item.hot_phase.actions | to_json }}
      }
      {% if item.warm_phase is defined %}
      ,
      "warm": {
        "min_age": "{{ item.warm_phase.min_age }}",
        "actions": {{ item.warm_phase.actions | to_json }}
      }
      {% endif %}
      {% if item.cold_phase is defined %}
      ,
      "cold": {
        "min_age": "{{ item.cold_phase.min_age }}",
        "actions": {{ item.cold_phase.actions | to_json }}
      }
      {% endif %}
      {% if item.delete_phase is defined %}
      ,
      "delete": {
        "min_age": "{{ item.delete_phase.min_age }}",
        "actions": {{ item.delete_phase.actions | to_json }}
      }
      {% endif %}
    }
  }
}
