[Unit]
Description=Vault Snapshot Agent
Documentation=https://www.vaultproject.io/docs/
Requires=vault.service
After=vault.service

[Service]
Type=simple
User={{ vault_user }}
Group={{ vault_group }}
ExecStart={{ vault_bin_path }}/vault-snapshot-agent -config={{ vault_config_path }}/snapshot-agent.hcl
KillMode=process
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
