# Managed by Ansible (postgresql_restore) - point-in-time recovery
restore_command = '{{ postgresql_restore_command | default("cp " ~ (postgresql_wal_archive_directory | default("/var/lib/pgsql/wal_archive")) ~ "/%f %p") }}'
{% if postgresql_recovery_target_time is defined %}
recovery_target_time = '{{ postgresql_recovery_target_time }}'
{% endif %}
recovery_target_action = '{{ postgresql_recovery_target_action | default("promote") }}'
