{
  "bindings": [
    {
      "role": "{{ item.role }}",
      "members": [
        "{{ item.member }}"
      ],
      "condition": {
        "title": "{{ item.condition.title }}",
        "description": "{{ item.condition.description }}",
        "expression": "{{ item.condition.expression }}"
      }
    }
  ],
  "version": 3
}
