{
  "auditConfigs": [
{% for config in gcp_iam_audit_log_config %}
    {
      "service": "{{ config.service }}",
      "auditLogConfigs": [
{% for log_config in config.audit_log_configs %}
        {
          "logType": "{{ log_config.log_type }}"{% if log_config.exempted_members is defined %},
          "exemptedMembers": [
{% for member in log_config.exempted_members %}
            "{{ member }}"{% if not loop.last %},{% endif %}
{% endfor %}
          ]{% endif %}
        }{% if not loop.last %},{% endif %}
{% endfor %}
      ]
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "bindings": {{ gcp_iam_policy_bindings | to_nice_json }},
  "version": 3,
  "etag": ""
}
