{
  "pce_fqdn": "{{ illumio_pce_fqdn }}",
  "service_discovery_fqdn": "{{ illumio_pce_fqdn }}",
  "install_root": "/opt/illumio-pce",
  "runtime_data_root": "{{ illumio_pce_data_dir }}",
  "runtime_data_fs_backend": "ext4",
  "email_address": "{{ illumio_pce_admin_email | default('admin@' + illumio_pce_fqdn) }}",
  "front_end_https_port": {{ illumio_pce_port }},
  "front_end_event_service_port": {{ illumio_pce_port + 1 }},
  "syslog_event_export_format": "json",
  "expose_user_invitation_link": false,
  "node_type": "{{ 'snc0' if not illumio_pce_cluster_mode else 'core' }}",
  {% if illumio_pce_cluster_mode | bool %}
  "cluster_mode": true,
  "node_id": {{ groups['illumio_pce_cluster'].index(inventory_hostname) + 1 }},
  {% endif %}
  "database": {
    "host": "{{ illumio_pce_database_host }}",
    "port": {{ illumio_pce_database_port }},
    "name": "{{ illumio_pce_database_name }}",
    "username": "{{ illumio_pce_database_user }}",
    "password": "{{ illumio_pce_database_password }}"
  }
}
