global_defs {
    router_id {{ ansible_hostname }}
    vrrp_version 3
}

vrrp_script check_pce {
    script "/usr/local/bin/check_pce_health.sh"
    interval 5
    weight 2
}

vrrp_instance PCE_VIP {
    state {{ pce_cluster_role | upper }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority {{ pce_cluster_priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ illumio_pce_cluster_vip_password | default('illumio123') }}
    }

    virtual_ipaddress {
        {{ illumio_pce_cluster_vip }}
    }

    track_script {
        check_pce
    }
}
