{{ illumio_pce_data_dir }}/log/*.log {
    daily
    rotate 30
    missingok
    notifempty
    compress
    delaycompress
    copytruncate
    maxage 90
    size 100M
    create 0640 {{ illumio_pce_user }} {{ illumio_pce_group }}
}
