#!/usr/bin/env bash
# Managed by Ansible (illumio_pce_install) - illumio-pce-ctl wrapper
exec sudo -u {{ illumio_pce_user | default('ilo-pce') }} \
  {{ illumio_pce_install_root | default('/opt/illumio-pce') }}/illumio-pce-ctl "$@"
