<?xml version="1.0"?>
<!-- Palo Alto Networks Address Objects Template -->
<!-- Fourth Estate object catalog -->
<config>
  <devices>
    <entry name="localhost.localdomain">
      <vsys>
        <entry name="vsys1">
          <address>
{% for addr in panos_address_objects | default([]) %}
            <entry name="{{ addr.name }}">
              <{{ addr.type | default('ip-netmask') }}>{{ addr.value }}</{{ addr.type | default('ip-netmask') }}>
{% if addr.description is defined %}
              <description>{{ addr.description }}</description>
{% endif %}
{% if addr.tags is defined and addr.tags | length > 0 %}
              <tag>
{% for tag in addr.tags %}
                <member>{{ tag }}</member>
{% endfor %}
              </tag>
{% endif %}
            </entry>
{% endfor %}
          </address>
          <address-group>
{% for group in panos_static_address_groups | default([]) %}
            <entry name="{{ group.name }}">
              <static>
{% for member in group.members %}
                <member>{{ member }}</member>
{% endfor %}
              </static>
{% if group.description is defined %}
              <description>{{ group.description }}</description>
{% endif %}
            </entry>
{% endfor %}
          </address-group>
        </entry>
      </vsys>
    </entry>
  </devices>
</config>
