<?xml version="1.0"?>
<!-- Palo Alto Networks Service Objects Template -->
<!-- Fourth Estate service catalog -->
<config>
  <devices>
    <entry name="localhost.localdomain">
      <vsys>
        <entry name="vsys1">
          <service>
{% for svc in panos_tcp_service_objects | default([]) %}
            <entry name="{{ svc.name }}">
              <protocol>
                <tcp>
                  <port>{{ svc.port }}</port>
{% if svc.source_port is defined %}
                  <source-port>{{ svc.source_port }}</source-port>
{% endif %}
                </tcp>
              </protocol>
{% if svc.description is defined %}
              <description>{{ svc.description }}</description>
{% endif %}
            </entry>
{% endfor %}
{% for svc in panos_udp_service_objects | default([]) %}
            <entry name="{{ svc.name }}">
              <protocol>
                <udp>
                  <port>{{ svc.port }}</port>
{% if svc.source_port is defined %}
                  <source-port>{{ svc.source_port }}</source-port>
{% endif %}
                </udp>
              </protocol>
{% if svc.description is defined %}
              <description>{{ svc.description }}</description>
{% endif %}
            </entry>
{% endfor %}
          </service>
          <service-group>
{% for group in panos_service_groups | default([]) %}
            <entry name="{{ group.name }}">
              <members>
{% for member in group.members %}
                <member>{{ member }}</member>
{% endfor %}
              </members>
            </entry>
{% endfor %}
          </service-group>
        </entry>
      </vsys>
    </entry>
  </devices>
</config>
