{
  "name": "{{ ci_name }}",
  "sys_class_name": "{{ ci_class | default('cmdb_ci') }}",
  "operational_status": "{{ operational_status | default('1') }}",
  "u_source_protection_level": "{{ source_protection_level | default('') }}",
  "u_journalist_accessible": "{{ journalist_accessible | default('false') }}",
  "u_publication_tier": "{{ publication_tier | default('') }}",
  "ip_address": "{{ ip_address | default('') }}",
  "dns_domain": "{{ dns_domain | default('') }}",
  "serial_number": "{{ serial_number | default('') }}",
  "mac_address": "{{ mac_address | default('') }}",
  "asset_tag": "{{ asset_tag | default('') }}",
  "managed_by": "{{ managed_by | default('') }}",
  "owned_by": "{{ owned_by | default('') }}",
  "location": "{{ location | default('') }}",
  "cost_center": "{{ cost_center | default('') }}",
  "support_group": "{{ support_group | default('') }}",
  "short_description": "{{ short_description | default('') }}",
  "comments": "{{ comments | default('') }}"
}
