[dynatrace_tenant]
tenant-prod ansible_host=abc12345.live.dynatrace.com

[dynatrace_tenant:vars]
ansible_connection=local
# vault_dt_environment_url=https://abc12345.live.dynatrace.com
# vault_dt_api_token=dt0c01....   (scope: auditLogs.read)
