# Managed by Ansible (sl1_platform_install)
DEVICE={{ sl1_network.interface }}
BOOTPROTO={{ sl1_network.bootproto | default('static') }}
ONBOOT=yes
{% if (sl1_network.bootproto | default('static')) == 'static' %}
IPADDR={{ sl1_network.ip_address }}
NETMASK={{ sl1_network.netmask }}
GATEWAY={{ sl1_network.gateway | default('') }}
DNS1={{ sl1_network.dns1 | default('') }}
{% endif %}
