[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0

# InnoDB Settings
innodb_buffer_pool_size={{ sl1_system.mysql_innodb_buffer_pool_size }}
innodb_log_file_size=512M
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT

# Connection Settings
max_connections=1000
max_connect_errors=100000
thread_cache_size=50
table_open_cache=4000

# Query Cache
query_cache_type=1
query_cache_size=256M
query_cache_limit=2M

# Temp Table Settings
tmp_table_size=256M
max_heap_table_size=256M

# Binary Logging
log-bin=/var/lib/mysql/mysql-bin
binlog_format=ROW
expire_logs_days=7
sync_binlog=0

# Replication (if cluster enabled)
{% if sl1_db_cluster.enabled %}
server-id={{ ansible_default_ipv4.address.split('.')[-1] }}
relay-log=/var/lib/mysql/relay-bin
read_only=0
{% endif %}

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/lib/mysql/mysql.sock
