---
{% for profile in k8s_pod_security_seccomp_profiles %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: seccomp-profile-{{ profile.name }}
  namespace: kube-system
  labels:
    app.kubernetes.io/managed-by: ansible
    security.fourth-estate.io/type: seccomp
data:
  {{ profile.name }}.json: |
    {{ profile.profile | to_nice_json(indent=4) | indent(4) }}
---
{% endfor %}
