---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pod-security-context-defaults
  namespace: {{ item }}
  labels:
    app.kubernetes.io/managed-by: ansible
    security.fourth-estate.io/context: pod-security
data:
  security-context.yaml: |
    securityContext:
      runAsNonRoot: {{ k8s_pod_security_context_defaults.run_as_non_root | lower }}
      runAsUser: {{ k8s_pod_security_context_defaults.run_as_user }}
      runAsGroup: {{ k8s_pod_security_context_defaults.run_as_group }}
      fsGroup: {{ k8s_pod_security_context_defaults.fs_group }}
      fsGroupChangePolicy: {{ k8s_pod_security_context_defaults.fs_group_change_policy }}
      seccompProfile:
        type: {{ k8s_pod_security_context_defaults.seccomp_profile.type }}
    containerSecurityContext:
      allowPrivilegeEscalation: {{ k8s_pod_security_context_defaults.allow_privilege_escalation | lower }}
      readOnlyRootFilesystem: {{ k8s_pod_security_context_defaults.read_only_root_filesystem | lower }}
      capabilities:
        drop:
{% for cap in k8s_pod_security_required_drop_capabilities %}
          - {{ cap }}
{% endfor %}
