Username,Email,First Name,Last Name,Is Superuser,Is Active,Teams,Roles,Last Login
{% for user in users_data.json.results | default([]) -%}
{{ user.username }},{{ user.email }},{{ user.first_name }},{{ user.last_name }},{{ user.is_superuser }},{{ user.is_active }},{% for team in teams_data.json.results | default([]) if user.id in (team.summary_fields.object_roles.member_role.members | default([]) | map(attribute='id') | list) %}{{ team.name }};{% endfor %},{% for ra in role_assignments.json.results | default([]) if ra.summary_fields.user.id == user.id %}{{ ra.role_definition.name }};{% endfor %},{{ user.last_login | default('Never') }}
{% endfor %}
