---
SOCIAL_AUTH_OIDC_KEY: "{{ oidc_key }}"
SOCIAL_AUTH_OIDC_SECRET: "{{ oidc_secret }}"
SOCIAL_AUTH_OIDC_OIDC_ENDPOINT: "{{ oidc_provider_url }}"
SOCIAL_AUTH_OIDC_VERIFY_SSL: {{ oidc_verify_ssl | bool | lower }}
