---
SOCIAL_AUTH_SAML_SP_ENTITY_ID: "{{ saml_entity_id }}"
SOCIAL_AUTH_SAML_SP_PUBLIC_CERT: ""
SOCIAL_AUTH_SAML_SP_PRIVATE_KEY: ""
SOCIAL_AUTH_SAML_ORG_INFO:
  en-US:
    name: "fourth-estate"
    displayname: "Fourth Estate Ansible Automation"
    url: "{{ controller_host }}"
SOCIAL_AUTH_SAML_TECHNICAL_CONTACT:
  givenName: "Ansible Admin"
  emailAddress: "ansible-admin@example.mil"
SOCIAL_AUTH_SAML_SUPPORT_CONTACT:
  givenName: "Support Team"
  emailAddress: "support@example.mil"
SOCIAL_AUTH_SAML_ENABLED_IDPS:
  fourth_estate_sso:
    entity_id: "{{ saml_idp_url }}"
    url: "{{ saml_idp_url }}"
    x509cert: "{{ saml_idp_x509cert }}"
    attr_user_permanent_id: "{{ saml_attr_user_permanent_id }}"
    attr_first_name: "{{ saml_attr_first_name }}"
    attr_last_name: "{{ saml_attr_last_name }}"
    attr_username: "{{ saml_attr_username }}"
    attr_email: "{{ saml_attr_email }}"
SOCIAL_AUTH_SAML_TEAM_MAP: {{ saml_team_map | to_json }}
SOCIAL_AUTH_SAML_ORGANIZATION_MAP: {{ saml_organization_map | to_json }}
SOCIAL_AUTH_SAML_SECURITY_CONFIG: {{ saml_security_config | to_json }}
