[localhost]
localhost ansible_connection=local

[localhost:vars]
veeam_server=veeam-vbr.example.com
veeam_api_url=https://veeam-vbr.example.com:9419/api
# veeam_username and veeam_password should be in vault
