# {{ ansible_managed }}
# PostgreSQL User Name Maps

# MAPNAME       SYSTEM-USERNAME         PG-USERNAME

{% for mapping in postgresql_ident_mappings %}
{{ "%-15s %-23s %s" | format(mapping.mapname, mapping.system_username, mapping.pg_username) }}
{% endfor %}
