# {{ ansible_managed }}
# pg_stat_statements Configuration

pg_stat_statements.max = {{ postgresql_pg_stat_statements_max }}
pg_stat_statements.track = {{ postgresql_pg_stat_statements_track }}
pg_stat_statements.track_utility = {{ postgresql_pg_stat_statements_track_utility }}
