# {{ ansible_managed }}
# Recovery Configuration (PostgreSQL < 12)

standby_mode = 'on'
primary_conninfo = 'host={{ postgresql_primary_host }} port={{ postgresql_port }} user={{ postgresql_replication_user }} password={{ postgresql_replication_password }}'
restore_command = '{{ postgresql_restore_command | default("cp " + postgresql_wal_archive_directory + "/%f %p") }}'
archive_cleanup_command = 'pg_archivecleanup {{ postgresql_wal_archive_directory }} %r'
recovery_target_timeline = 'latest'
