# Prometheus Alert Rules
# Managed by Ansible - Fourth Estate Agency
# {{ ansible_managed }}

groups:
  - name: {{ item.name }}
    interval: 30s
    rules:
{% for rule in item.rules %}
      - alert: {{ rule.alert }}
        expr: |
          {{ rule.expr | indent(10) }}
{% if rule.for is defined %}
        for: {{ rule.for }}
{% endif %}
{% if rule.labels is defined %}
        labels:
{% for key, value in rule.labels.items() %}
          {{ key }}: '{{ value }}'
{% endfor %}
{% endif %}
{% if rule.annotations is defined %}
        annotations:
{% for key, value in rule.annotations.items() %}
          {{ key }}: '{{ value }}'
{% endfor %}
{% endif %}
{% endfor %}
