# NGINX Exporter Service Discovery
# Managed by Ansible - Fourth Estate Agency
# {{ ansible_managed }}

{% for target in prometheus_nginx_targets | default([]) %}
- targets:
    - '{{ target.address }}'
  labels:
    environment: '{{ target.environment | default(prometheus_external_labels.environment) }}'
    instance: '{{ target.instance | default(target.address.split(":")[0]) }}'
{% if target.labels is defined %}
{% for key, value in target.labels.items() %}
    {{ key }}: '{{ value }}'
{% endfor %}
{% endif %}
{% endfor %}
