[localhost]
localhost ansible_connection=local

[localhost:vars]
tenable_sc_url=https://sc.example.com
tenable_io_url=https://cloud.tenable.com
# tenable_access_key and tenable_secret_key should be in vault
