[app_servers]
app01 ansible_host=10.0.0.121

[app_servers:vars]
ansible_user=ansible
ansible_become=true
ansible_become_method=sudo
tomcat_home=/opt/tomcat
tomcat_service_name=tomcat
tomcat_run_user=tomcat
