---
report_type: ot_asset_lifecycle
generated_at: {{ ansible_date_time.iso8601 }}
generated_by: {{ ansible_user_id }}

asset:
  asset_id: {{ ot_asset_id }}
  name: {{ ot_asset_name }}
  type: {{ ot_asset_type }}
  vendor: {{ ot_asset_vendor }}
  model: {{ ot_asset_model }}
  serial_number: {{ ot_asset_serial_number }}
  firmware_version: {{ ot_asset_firmware_version }}

network:
  ip_address: {{ ot_asset_ip_address }}
  mac_address: {{ ot_asset_mac_address }}
  protocols: {{ ot_asset_protocols | to_yaml }}

classification:
  criticality: {{ ot_asset_criticality }}
  purdue_level: {{ ot_asset_purdue_level }}
  zone: {{ ot_asset_zone }}
  security_classification: {{ ot_asset_security_classification }}

ownership:
  owner: {{ ot_asset_owner }}
  custodian: {{ ot_asset_custodian }}
  support_contact: {{ ot_asset_support_contact }}

location:
  facility: {{ ot_asset_facility }}
  building: {{ ot_asset_building }}
  room: {{ ot_asset_room }}
  rack: {{ ot_asset_rack }}
  rack_position: {{ ot_asset_rack_position }}

lifecycle:
  state: {{ ot_asset_state }}
  purchase_date: {{ ot_asset_purchase_date }}
  install_date: {{ ot_asset_install_date }}
  commission_date: {{ ot_asset_commission_date }}
  warranty_expiry: {{ ot_asset_warranty_expiry }}
  eol_date: {{ ot_asset_eol_date }}
  eosl_date: {{ ot_asset_eosl_date }}

maintenance:
  schedule: {{ ot_asset_maintenance_schedule }}
  last_maintenance: {{ ot_asset_last_maintenance }}
  next_maintenance: {{ ot_asset_next_maintenance }}
  maintenance_contact: {{ ot_asset_maintenance_contact }}

compliance:
  frameworks: {{ ot_asset_compliance_frameworks | to_yaml }}
  change_control_required: {{ ot_asset_change_control_required }}
  audit_logging_enabled: {{ ot_asset_audit_logging_enabled }}

operation: {{ ot_asset_operation }}
operation_timestamp: {{ ansible_date_time.iso8601 }}
