# Example inventory for the IIS 10.0 STIG role.
[iis_servers]
web-01 ansible_host=10.0.0.131

[iis_servers:vars]
ansible_connection=winrm
ansible_winrm_transport=ntlm
ansible_port=5986
ansible_winrm_server_cert_validation=validate
ansible_user=svc_ansible
# ansible_password="{{ vault_win_password }}"
