---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-dns-traffic
  namespace: {{ item }}
  labels:
    app.kubernetes.io/managed-by: ansible
    security.fourth-estate.io/policy-type: allow-dns
spec:
  podSelector: {}
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ k8s_network_policy_dns_namespace }}
          podSelector:
            matchLabels:
              {{ k8s_network_policy_dns_selector | to_nice_yaml | indent(14) }}
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
