---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-all-ingress
  namespace: {{ item }}
  labels:
    app.kubernetes.io/managed-by: ansible
    security.fourth-estate.io/policy-type: deny-all
spec:
  podSelector: {}
  policyTypes:
    - Ingress
