---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
  labels:
    app.kubernetes.io/managed-by: ansible
    security.fourth-estate.io/policy-type: external-access
spec:
  podSelector:
    matchLabels:
      {{ item.pod_selector | to_nice_yaml | indent(6) }}
  policyTypes:
    - Egress
  egress:
{% for rule in item.egress_rules %}
    - to:
{% for to in rule.to %}
        - ipBlock:
            cidr: {{ to.ipBlock.cidr }}
{% if to.ipBlock.except is defined %}
            except:
{% for except in to.ipBlock.except %}
              - {{ except }}
{% endfor %}
{% endif %}
{% endfor %}
{% if rule.ports is defined %}
      ports:
{% for port in rule.ports %}
        - protocol: {{ port.protocol }}
          port: {{ port.port }}
{% endfor %}
{% endif %}
{% endfor %}
