# Example inventory for the Browser STIG role.
[windows_hosts]
ws-01 ansible_host=10.0.0.141

[windows_hosts:vars]
ansible_connection=winrm
ansible_winrm_transport=ntlm
ansible_port=5986
ansible_winrm_server_cert_validation=validate
ansible_user=svc_ansible
# ansible_password="{{ vault_win_password }}"
