# Prometheus Environment Variables
# Managed by Ansible - Fourth Estate Agency
# {{ ansible_managed }}

# Additional Prometheus options
PROMETHEUS_OPTS=""

# Go runtime options
GOMAXPROCS={{ ansible_processor_vcpus }}
GOGC=75
