# Prometheus Web Configuration
# Managed by Ansible - Fourth Estate Agency
# {{ ansible_managed }}

{% if prometheus_enable_tls %}
tls_server_config:
  cert_file: {{ prometheus_config_dir }}/tls/prometheus.crt
  key_file: {{ prometheus_config_dir }}/tls/prometheus.key
  min_version: TLS12
  max_version: TLS13
  cipher_suites:
    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  prefer_server_cipher_suites: true
{% endif %}

{% if prometheus_enable_basic_auth %}
basic_auth_users:
{% for user in prometheus_basic_auth_users %}
  {{ user.username }}: {{ user.password | password_hash('bcrypt') }}
{% endfor %}
{% endif %}
