{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "RestrictToGovCloudRegions",
      "Effect": "Deny",
      "NotAction": [
        "iam:*",
        "organizations:*",
        "route53:*",
        "cloudfront:*",
        "support:*",
        "budgets:*"
      ],
      "Resource": "*",
      "Condition": {
        "StringNotEquals": {
          "aws:RequestedRegion": {{ iam_allowed_regions | to_json }}
        }
      }
    },
    {
      "Sid": "AllowGlobalServices",
      "Effect": "Allow",
      "Action": [
        "iam:ListAccountAliases",
        "iam:ListUsers",
        "iam:ListRoles",
        "iam:GetAccountSummary",
        "organizations:DescribeOrganization",
        "cloudfront:List*",
        "route53:List*"
      ],
      "Resource": "*"
    }
  ]
}
