{
  "preferences": {
    "safe_checks": "{{ tsc_scan_settings.safe_checks | string | lower }}",
    "silent_dependencies": "{{ tsc_scan_settings.silent_dependencies | string | lower }}",
    "log_scan_details_to_server": "{{ tsc_scan_settings.log_scan_details | string | lower }}",
    "stop_scan_on_disconnect": "{{ tsc_scan_settings.stop_scan_on_disconnect | string | lower }}",

    "port_range": "{{ tsc_scan_settings.port_range }}",
    "tcp_scan_type": "{{ tsc_scan_settings.tcp_scan_type }}",
    "udp_scan": "{{ tsc_scan_settings.udp_scan | string | lower }}",
    "syn_scan": "{{ tsc_scan_settings.syn_scan | string | lower }}",

    "max_checks_per_host": "{{ tsc_scan_settings.max_checks_per_host }}",
    "max_hosts_per_scan": "{{ tsc_scan_settings.max_hosts_per_scan }}",
    "network_receive_timeout": "{{ tsc_scan_settings.network_receive_timeout }}",

    "ping_the_remote_host": "yes",
    "tcp_ping": "yes",
    "icmp_ping": "yes",
    "arp_ping": "yes",

    "service_detection": "{{ tsc_scan_settings.service_detection | string | lower }}",
    "ssl_cipher_strength": "{{ tsc_scan_settings.ssl_cipher_strength | string | lower }}",

    "scan_webapps": "no",
    "scan_network_printers": "{{ tsc_scan_settings.scan_network_printers | string | lower }}",

    "thorough_tests": "no",
    "report_verbosity": "normal",
    "report_paranoia": "normal"
  },
  "pluginSelection": {
    "familySelection": {
      "Backdoors": "enabled",
      "Brute force attacks": "disabled",
      "CGI abuses": "disabled",
      "Databases": "enabled",
      "Denial of Service": "disabled",
      "DNS": "enabled",
      "FTP": "enabled",
      "Firewalls": "enabled",
      "Gain a shell remotely": "enabled",
      "General": "enabled",
      "Misc.": "enabled",
      "Netware": "disabled",
      "Port scanners": "enabled",
      "Service detection": "enabled",
      "Settings": "enabled",
      "SMTP problems": "enabled",
      "SNMP": "enabled",
      "Web Servers": "enabled",
      "Windows": "enabled"
    }
  }
}
