/opt/sc/logs/*.log {
    daily
    rotate {{ tsc_log_retention_days }}
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        /opt/sc/support/bin/scmanager restart > /dev/null 2>&1 || true
    endscript
    create 0640 tns tns
}

/opt/sc/logs/audit/*.log {
    daily
    rotate {{ tsc_fourth_estate.data_retention_days | default(365) }}
    missingok
    notifempty
    compress
    delaycompress
    create 0600 tns tns
}
